
.generatedIframe {
    position: fixed !important;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 35%;
    z-index: 999;
    background: #333;
    padding: 30px;
    box-sizing: border-box;
    max-width: 20%;
    color: #fff;
    font-size: 12px;
    border: none;
    transition: all 0.5s;
    display: inline;
}